:root {
    --principal-color: #6AAED1;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

main {
    display: flex;
}

nav.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 30px;
    height: 100vh;
    width: 20vw;
    background: rgb(133,255,110);
    background: linear-gradient(20deg, rgba(133,255,110,1) 0%, rgba(0,255,239,1) 100%);
    color: white;
}

nav.menu img {
    width: 60%;
    border-radius: 400px;
    border: 3px solid black;
}

nav.mobile {
    display: none;
}

nav ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

nav ul a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: white;
}

nav a:hover {
    background-color: #ffffff50;
}

nav .button {
    color: black;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
    outline: 3px solid white;
    outline-offset: 3px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.content {
    margin-left: 20vw;
}

.content .button {
    color: black;
    text-decoration: none;
    font-size: x-large;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-align: center;
    background: rgb(133,255,110);
    background: linear-gradient(20deg, rgba(133,255,110,1) 0%, rgba(0,255,239,1) 100%);
    padding: 20px 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

section {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    border-top: 1px solid black;
    overflow: hidden;
}

.me-info .name {
    font-size: 4rem;
    margin: 0;
}

.me-info .position {
    font-size: 2rem;
    margin: 0;
}

.me-info i {
    font-size: x-large;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.experience-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.experience-items details{
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    width: 30%;
    height: fit-content;
}

.experience-items details summary {
    list-style: none;
}

.experience-items details > p {
    border-top: #af4 solid 1px;
    padding-top: 10px;
}


@media (max-width: 768px) {
    nav.mobile {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: fixed;
        width: 100%;
        background: rgb(133,255,110);
        background: linear-gradient(20deg, rgba(133,255,110,1) 0%, rgba(0,255,239,1) 100%);
        color: white;
    }

    nav.mobile > div {
        display: none;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav.menu {
        display: none;
    }

    .content {
        margin: 0;
        width: 100vw;
    }

    section {
        min-height: fit-content;
    }
}